/* demo.css */

body {
    background-color: lightblue;
    font-family: Programma, monospace;
    font-size: 150%;
    transition: background-color 1s;
}

fieldset {
    background-color: aliceblue;
    border: 2px solid navy;
    border-radius: 0.5em;
    display: block;
    margin: 0.25em;
    width: stretch;
}

legend {
    background-color: snow;
    border: 2px solid navy;
    border-radius: 0.5em;
    cursor: default;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}

legend:hover {
    background-color: powderblue;
}

legend:active {
    background-color: red;
}

span {
    border: 2pt solid black;
    margin: 1em;
    padding-left: 0.5em;
}

tt {
    cursor: pointer;
}

tt.success:hover {
    background-color: lightgreen;
}

tt.failure:hover {
    background-color: pink;
}
